<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.combinatorics.shuwashuwa.dao.ActivityTimeSlotDao">
    <resultMap type="team.combinatorics.shuwashuwa.model.po.ActivityTimeSlotPO" id="activityTimeSlotResultMap">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="activity_id" jdbcType="INTEGER" property="activityId"/>
        <result column="time_slot" jdbcType="INTEGER" property="timeSlot"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
    </resultMap>

    <insert id="insert" parameterType="team.combinatorics.shuwashuwa.model.po.ActivityTimeSlotPO"
            useGeneratedKeys="true" keyColumn="id" keyProperty="timeSlot.id">
        insert into activity_time_slot(activity_id, time_slot, start_time, end_time)
        values (#{timeSlot.activityId}, #{timeSlot.timeSlot}, #{timeSlot.startTime}, #{timeSlot.endTime})
    </insert>
</mapper>
