<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.combinatorics.shuwashuwa.dao.UserDao">
    <resultMap type="team.combinatorics.shuwashuwa.model.po.UserPO" id="userResultMap">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="identity" jdbcType="VARCHAR" property="identity"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
        <result column="is_volunteer" jdbcType="BOOLEAN" property="volunteer"/>
        <result column="is_admin" jdbcType="BOOLEAN" property="admin"/>
        <result column="is_su" jdbcType="BOOLEAN" property="su"/>
    </resultMap>

    <insert id="insertUserByOpenid">
        insert into user(openid)
        values (#{openid})
    </insert>

    <delete id="deleteUserByUserid">
        delete
        from user
        where id = #{id}
    </delete>

    <delete id="deleteUserByOpenid">
        delete
        from user
        where openid = #{openid}
    </delete>

    <delete id="deleteAllUsers">
        delete
        from user
    </delete>


    <select id="getUserByUserid" resultMap="userResultMap">
        select *
        from user
        where id = #{id}
    </select>

    <select id="getUserByOpenid" resultMap="userResultMap">
        select *
        from user
        where openid = #{openid}
    </select>

    <update id="updateUserInfo" parameterType="team.combinatorics.shuwashuwa.model.dto.UpdateUserInfoDTO">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="user.userName != null">
                user_name = #{user.userName},
            </if>
            <if test="user.phoneNumber != null">
                phone_number = #{user.phoneNumber},
            </if>
            <if test="user.email != null">
                email = #{user.email},
            </if>
            <if test="user.identity != null">
                identity = #{user.identity},
            </if>
            <if test="user.department != null">
                department = #{user.department},
            </if>
            <if test="user.grade != null">
                grade = #{user.grade},
            </if>
            <if test="user.studentId != null">
                student_id = #{user.studentId},
            </if>
            <if test="user.comment != null">
                comment = #{user.comment},
            </if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateUserVolunteerAuthority">
        update user set
            is_volunteer = #{volunteer}
        where id=#{id}
    </update>

    <update id="updateUserAdminAuthority">
        update user set
            is_admin = #{admin}
        where id=#{id}
    </update>

</mapper>
